body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;

}

h1 {
  font-size: 5rem;
}


footer {
  text-align: right;
  color: midnightblue;
}

.card, p, h2{
  display: inline-block;
}

.card{
  width: 45%;
  text-align: justify;
}

.card-title{
  padding-top: 0%;
} 

.tile-image{
  margin: 20px;
  height: 150px;
  width: 200px;
  float: left;
}

.right{
float: right;
}

.left{float: left;}

.p{margin-top: 0px;
padding: 0px;}